<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="row">
    <section id="weather-section">
      <h4>Forecast for <%= @destination.name %>:</h4>
        <ul class="weather-api">
          <li class="date"><%= @info.date %></li>
          <li class="current"><%= @info.current %>F</li>
          <li class="high"><%= @info.high %>F</li>
          <li class="low"><%= @info.low %>F</li>
          <li class="summary"><%= @info.summary %></li>
          <li class="gif">Gif for</li>
        </ul>
      </section>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
