<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @destination.name %>
  </h3>

  <p>
    <strong>Zip:</strong>
    <%= @destination.zip %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @destination.description %>
  </p>

  <%= image_tag(@destination.image_url) %>

  <div class="row">
    <h4>Forecast for <%= @destination.name %>:</h4><br>
  </div>

    <h4 class="current_date"><%= @forecast.formatted_date %></h4>
    <h5>Current Temperature</h5>
    <p class="current_temp"><%= @forecast.temp %></p>
    <h5>Today's High</h5>
    <p class="high_temp"><%= @forecast.temp_max %></p>
    <h5>Today's Low</h5>
    <p class="low_temp"><%= @forecast.temp_min %></p>
    <h5>Summary</h5>
    <p class="weather_summary"><%= @forecast.summary %></p>
    <%= image_tag(@forecast.image_url, alt: "image of #{@forecast.summary} weather") %>

  <div class="row">
    <%= link_to 'Edit', edit_destination_path(@destination) %> |
    <%= link_to 'Back', destinations_path %>
  </div>
</div>
